<%= form_with(model: loc) do |form| %>

<div id ="formContent"  >
    <div class="card text-center h-600" >
      <div class="card-header">
        <h2>Save This Spot Ghetto Force</h2>
      </div>
      <div class="card-body">
         <br/>  
         <div>    
          <div class="container">
            <div class = "row">
              <div class ="col">
                <button type="button" id= "showPicsBtn" class="btn btn-primary btn-lg active" data-bs-toggle="modal" data-bs-target="#ViewPics">
                  Show Pics
                </button>
                </div>
                <div class ="col">
                <button type="button" id= "showPicsBtn" class="btn btn-primary btn-lg active">
                  Loc Type
                </button>
                </div>
              </div>
            </div>
          </div>
          <br/>
          <div class="container lg">
              <div class = "row">
               <h3>Select Wind Direction(s)</h3>
              </div>
              <br/>
              <div class="row">
                  <div class="col">
                    <%# North West %>
                  </div>
                   <div class="col" data-action="click->maps#sendNorth" data-target="maps.north" data-north = "N">                
                    <%= image_tag 'North.png',class:'compassBtnNorthSouth' %>
                   </div>
                  <div class="col">
                  <%# North East %>
                  </div>
              </div>
              <div class="row">
                <div class="col" data-action="click->maps#sendWest" data-target="maps.west" data-west = "W">
                 <%= image_tag 'West.png',class:'compassBtnWestEast' %>
                </div>
                <div class="col">
                  <%# Center %>
                </div>
                <div class="col" data-action="click->maps#sendEast" data-target="maps.east" data-east = "E">
                <%= image_tag 'East.png',class:'compassBtnWestEast' %>
                </div>
              </div>
              <div class="row">
                <div class="col">
                 <%# South West %>
                </div>
                <div class="col "data-action="click->maps#sendSouth" data-target="maps.south" data-south = "S">
                 <%= image_tag 'South.png',class:'compassBtnNorthSouth' %>
                </div>
                <div class="col">
                  <%# South East %>
                </div>
              </div>
            </div>
            <br/>
          <div class="mb-3">  
            <%= form.text_field :name, class:"form-control", placeholder:"Spot Name" %>
          </div>
           <div class="mb-3">  
            <%= form.text_field :create_date, class:"form-control", placeholder:"The Date" %>
          </div>
          <div class="mb-3">
             <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Notes" rows="3"></textarea>
          </div>
          <div class="mb-3">
            <button type="button" class="btn btn-primary btn-lg active goodGood" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="right" data-bs-content="Right popover">
               Save Spot
            </button>
          </div>
        
      </div>
      <div class="card-footer text-muted">
        2 days ago
      </div>
    </div>
</div> 

<% end %>