<%= form_with(model: @loc) do |form| %>

<%# Alt + B + B to close html tag <%%> 
<br/>
<div data-controller = "maps">
  <div class="container">
    <div class = "row mb-3">
      <div class = "col">
          <button class="btn btn-primary btn-lg active" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Filter Locations   
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">All My Spots</a></li>
              <li><a class="dropdown-item" href="#">Stand Pins</a></li>
              <li><a class="dropdown-item" href="#">Buck Bed Pins</a></li>
              <li><a class="dropdown-item" href="#">Access Point Pins</a></li>
            </ul>
          </button>
      </div>     
      <div class ="col">
          <%= form.text_field :latitude, class:"form-control fw-bold ",data: {target: "maps.lat"} %>
      </div>
     
      <div class ="col">
        <%= form.text_field :longtitude, class:"form-control fw-bold " ,data: {target: "maps.lon"} %>
      </div>
      <div class = "col">
        <button class="btn btn-primary btn-lg active" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Filter Winds
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">North</a></li>
            <li><a class="dropdown-item" href="#">West</a></li>
            <li><a class="dropdown-item" href="#">South</a></li>
            <li><a class="dropdown-item" href="#">East</a></li>
          </ul>
          </button>
        </div>
      </div>
  </div>
  <br/>

  
    <div   
        class ="mapcss"
        data-action="mapsLoaded@document->maps#initializeMap"
        data-target="maps.map"        
       >            
    </div>
  
  <%#Here is our form to save a loc %>
  <div style="display:none">
    <%= render "saveSpot", loc: @loc %> 
  </div>

   <%=render 'open_pics'%>

   <style>
      img[src$="#custom_marker"]{
          border: 2px solid #900 !important;
          border-radius:50%;
        }
    </style>

</div>
<% end %>


   
