


<div id="carouselExample" class="carousel slide">
<div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item  active c-item">
       <%= image_tag 'Magalloway.jpg', class:' d-block w-100 c-img', alt: "slide 1"  %>     
       <div class="carousel-caption top-0 mt-5 d-none d-md-block ">
       <br/><br/><br/><br/><br/>
        <p class ="mt-6 fs-2 text-uppercase">The Time is Now</p>
        <h1 class="display-1 fw-bold text-capitalize">Start Your Jouney</h1>
          <button type="button" class="btn btn-lg btn-primary active px-4 py-2">Begin</button>
      </div>
    </div>
    <div class="carousel-item c-item">
     <%= image_tag 'OleBuckington', class:' d-block w-100 c-img', alt: "slide 2"  %> 
      <div class="carousel-caption top-0 mt-lg-5 d-none d-md-block">
      <br/><br/><br/><br/><br/>
        <p class ="mt-8 fs-2 text-uppercase">Work Arduous Play Fierce </p>
        <h1 class="display-1 fw-bold text-capitalize">Love This Life!!!</h1>
          <%= link_to 'Enter The Hunt',locs_index_path, class:"btn btn-lg btn-primary active px-4 py-2 fs-5 mt5" %>
      </div>  
    </div>
    <div class="carousel-item c-item">
       <%= image_tag 'Killington.jpg', class:' d-block w-100 c-img', alt: "slide 3"  %>
       <div class="carousel-caption top-0 mt-lg-5 d-none d-md-block">
       <br/><br/><br/><br/><br/>
        <p class ="mt-8 fs-2 text-uppercase">Work Arduous Play Fierce </p>
        <h1 class="display-1 fw-bold text-capitalize">Gettin' Turnzz!!!</h1>
          <button type="button" class="btn btn-lg btn-primary active px-4 py-2">Send IT!!!</button>
    </div>
    </div>
    <div class="carousel-item c-item">
       <%= image_tag 'AuroraAtChocoruaOriginal.jpg', class:' d-block w-100 c-img', alt: "slide 3"  %>
       <div class="carousel-caption top-0 mt-lg-5 d-none d-md-block">
       <br/><br/><br/><br/><br/>
        <p class ="mt-8 fs-2 text-uppercase">Work Arduous Play Fierce </p>
        <h1 class="display-1 fw-bold text-capitalize">Camping</h1>
          <button type="button" class="btn btn-lg btn-primary active px-4 py-2">Out 'N About</button>
    </div>
  </div>
  <button class="carousel-control-prev " type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon " aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next  fa-10x" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>