 <%= stylesheet_link_tag "gmapping", "data-turbo-track": "reload",defer:true %>
<%= form_with(model: @loc) do |form| %>

<%# Alt + B + B to close html tag <%%> 
<br/>
<div data-controller = "maps">
  <div class="container" ata-controller = "polylines">
    <div class = "row mb-3">  
      <div class = "col-2 g-1"> 
       <input type="checkbox" id="toggle-btn" class="toggle-checkbox">    
       <label for="toggle-btn" data-target="maps.buttons" 
       class="btn btn-primary btn-lg w-100 active  d-none"  data-action="click->maps#SaveLocsAndPol">
                  Save Line          
         </label> 
      </div>   
       <div class = "col-1  g-1">      
         <label for="toggle-btn" data-target="maps.buttons" 
         class="btn btn-dark btn-lg w-75 bi bi-arrow-clockwise d-none" data-action="click->maps#UndoPolyLine">
           Undo           
         </label> 
      </div> 
      <div class = "col-1  g-1">
      </div>
      
      <div class = "col-2 g-1">
         <%# This is a sneaky way to toggle the colors of a button when clicked  %>
         <input type="checkbox" id="toggle" class="toggle-checkbox">
         <%# <label for="toggle" class="btn btn-primary btn-lg w-100 active custom-btn" data-action="click->maps#SwicthOnMesureDist">Measure Distance</label> %>
                  <label for="toggle" class="btn btn-primary btn-lg w-100 active custom-btn" data-action="click->maps#SwicthOnMesureDist">Measure Distance</label>
      </div> 
      <div class = "col-2 g-1">  
         <%= form.select :filterTimesSat,['0','1','2','3','4','5+'] ,{prompt:"Filter Times Hunted (All)"}, 
         {class:"form-select btn btn-primary btn-lg active dropdown-toggle",
         data:{action:"change->maps#filterTimesHunted"}} %>                     
      </div> 
      <div class = "col-2 g-1">  
         <%= form.select :filterLoctype,['Stand Pin','Buck Bed Pin','Access Point'] ,{prompt:"Filter Loc Type (All)"}, 
         {class:"form-select btn btn-primary btn-lg active dropdown-toggle",
         data:{action:"change->maps#filterLocType"}} %>                     
      </div>   
      <div class = "col-2 g-1">
         <%= form.select :loc_type,['N','NE','E','SE','S','SW','W','NW'] ,{prompt:"Filter Winds (All)"}, 
         {class:"form-select btn btn-primary btn-lg active dropdown-toggle",
         data:{action:"change->maps#filterWinds"}} %>                     
      </div>     
    </div>
  </div>
  <div class = "row">    <%# MOVE ALL THE INFO WINDOW CONTENT LEFT OF MAP %>
     <div class = "col-4">
        <%= render "saveSpot", loc: @loc, id: :loc_user_id  %> 
        <div   
          class="mapcss"
          data-action="mapsLoaded@document->maps#initializeMap"
          data-maps-target="map">            
    </div>
     </div>  
     
  </div>
  <br/>
   <%=render "openPics",loc: @loc, id: :loc_user_id  %>
   <%=render 'filterWind'%>

</div>
<% end %>
   
<style>
      img[src$="#custom_marker"]{
          border: 2px solid #900 !important;
          border-radius:50%;
        }
 </style>