 <%= stylesheet_link_tag "gmapping", "data-turbo-track": "reload",defer:true %>
<%= form_with(model: @loc) do |form| %>

<%# Alt + B + B to close html tag <%%> 
<br/>
<div data-controller = "maps">
  <div class="container">
    <div class = "row mb-3">
      <div class = "col-8">
      </div>     
      <div class = "col-2">  
         <%= form.select :filterLoctype,['ALL','Stand Pin','Buck Bed Pin','Access Point'] ,{prompt:"Filter Loc Type"}, {class:"form-select btn btn-primary btn-lg active dropdown-toggle",data:{action:"change->maps#filterLocType"}} %>                     
      </div>   
      <div class = "col-2">
         <%= form.select :loc_type,['ALL','North','West','South','East'] ,{prompt:"Filter Winds"}, {class:"form-select btn btn-primary btn-lg active dropdown-toggle",data:{action:"click->maps#filterWinds"}} %>                     
      </div>     
    </div>
  </div>
  <div class = "row">    <%# MOVE ALL THE INFO WINDOW CONTENT LEFT OF MAP %>
     <div class = "col-4">
        <%= render "saveSpot", loc: @loc, id: :loc_user_id  %> 
        <div   
          class="mapcss"
          data-action="mapsLoaded@document->maps#initializeMap"
          data-target="maps.map">            
    </div>
     </div>  
     
  </div>
  <br/>
   <%=render 'open_pics'%>
</div>
<% end %>
   
<style>
      img[src$="#custom_marker"]{
          border: 2px solid #900 !important;
          border-radius:50%;
        }
 </style>