<div id="<%= dom_id madood %>">
  <p>
    <strong>First name:</strong>
    <%= madood.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= madood.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= madood.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= madood.phone %>
  </p>

  <p>
    <strong>Ebabys twitter:</strong>
    <%= madood.EBabys_Twitter %>
  </p>

</div>
